<html>
    <head>
        <title>Match</title>
        <link href="/static/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <meta name="author" content="Andrew Nathan" />
        <meta name="title" content="Mural" />
        <meta
          name="description"
          content=""
        />
        <meta
          name="keywords"
          content="mural, wordle, nytimesgames, nytimes, puzzle, daily, game, puzzles, games, worldle"
        />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
  
        <!-- HTMX -->
        <script src="/static/js/htmx.min.js"></script>
    </head>
    <div class="bg-blue-300 text-orange-600">Hello {{name}}</div>
</html>